// Header title link styling
.site-header .site-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  font-size: 2.5em;
}

.site-header .site-title:hover {
  text-decoration: none;
}

.home h2 {
  font-size: 1.5em;
}

.home .post-list {
  list-style-type: "⥼"; 
  list-style-type: "❧"; 
  list-style-position:outside;
}

.home .post-list li::marker {
  font-size: 1.5em;
}

.home .post-list li {
  margin-bottom: 0;
  padding-left: 0.5em;
}

.home .post-list h4 {
  font-size: 0.4em;
  margin: 0;
  display: inline;
}

.home .post-list .post-link {
  font-weight: normal;
  color: #777;
}

.home .post-list .post-link:hover {
  font-weight: bold;
  text-decoration: none;
}
